$black: #000;
$white: #fff;

// フォントの指定
html {
  font-family: "Open Sans", sans-serif;
}

// リセット
body {
  margin: 0;
  font-size: 100%;
}

// 画像の初期設定
img {
  width: 1000px;
  height: auto;
}

a {
  color: $black;
}

// テキストの中央寄せ
.wrapper {
  text-align: center;
}

// ファーストビューの画像表示
#mainvisual {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
  }
}

#title {
  margin: 70px 0;
  h1 {
    font-weight: bolder;
  }
}

// レシピ画像の表示（横並び３分割）
#photos {
  display: flex;
  width: 100%;
  img {
    width: calc(100% / 3);
    height: 400px;
    object-fit: cover;
  }
}

// ボタンのスタイルとSNSリンク
#detail {
  margin: 70px auto 0;
  .button {
    border: none;
    padding: 0;
    margin: 0;
    background-color: $white;
    a {
      text-decoration: none;
      border: solid 1px $black;
      font-size: 1rem;
      font-weight: normal;
      padding: 25px 50px;
      display: block;

      &:hover {
        background-color: $black;
        color: $white;
        transition: 0.5s;
      }
    }
  }
  #link-sns {
    max-width: 250px;
    margin: 150px auto 0;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-evenly;
  }
}

#footer {
  font-size: 0.8rem;
  margin: 20px;
}

// レスポンシブデザイン設定（レシピ画像を縦並び、余白なし）
@media screen and (max-width: 835px) {
  #photos {
    display: block;
    img {
      width: 100%;
      height: 450px;
      vertical-align: middle;
    }
  }
}
